/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 26px;
	font-size: 15px;
	background: #FFFDFD;
	color: #808080;
	font-family: 'Lato', sans-serif;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

.product-wrapper {
	padding: 80px 0;
}

.product-big-active .slick-prev, .product-big-active .slick-next {
    font-size: 35px;
    background: transparent;
    border: transparent;
    color: #fa2456;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.product-big-active .slick-slide img {
    background: #ffffff;
}

.product-big-active .slick-next {
    right: -10px;
}

.product-big-active .slick-prev {
    left: -10px;
}

.product-small-active img {
	border: 1px solid transparent;
}

.product-small-active .slick-slide.slick-current.slick-active.slick-center img {
	border: 1px solid #fa2456 !important;
}

.product-content {
    padding-left: 45px;
}

.product-content h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #111111;
}

.star-icon a {
	font-size: 18px;
	color: #fa2456;
}

.custom-review a {
    font-size: 14px;
    font-weight: 500;
    color: #797979;
    padding-left: 15px;
    border-left: 1px solid #797979;
    margin-left: 15px;
    transition: .3s;
}

.custom-review a:hover {
	color: #fa2456;
}

.product-content h3 {
    font-size: 30px;
    color: #111111;
    margin: 15px 0;
}

p.custom-para {
    font-size: 16px;
}

.color-text {
	font-size: 22px;
	color: #000000;
	margin: 15px 0;
}

.color-text p {
    margin-right: 10px;
}

.color-two {
	background: #ccc !important;
}

.color-three {
	background: #e4b1ad !important;
}

.color-four {
	background: #e4b1ad !important;
}

.color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-flex;
	flex-shrink: 0;
	margin-right: 6px;
	background: #000000;
}

.custom-para span, .custom-para a {
	color: #111111 !important;
	font-size: 14px;
}

.make-btn {
    background: linear-gradient(to right, #fa2456, #fd735a, #fa2456, #fd735a);
    padding: 16px 40px;
    display: inline-flex;
    border-radius: 35px;
    color: #ffffff;
    background-size: 300%;
    margin-left: 25px;
}

.make-btn:hover {
	color: #ffffff;
}

.product-spinner {
	display: inline-flex;
	align-items: center;
	margin: 20px 0;
}

.product-spinner button:first-child {
	border-right: 1px solid #fa2456;
	border-radius: 100px 0 0 100px;
}

.product-spinner button:last-child {
	border-left: 1px solid #fa2456;
	border-radius: 0 100px 100px 0;
}

.product-spinner button, .product-spinner input {
	background: none;
	border: none;
	color: #000000;
	font-size: 24px;
   padding: 15px 24px;
	border: 1px solid #fa2456;
}

.social-icon {
	margin-left: 15px;
}

.social-icon a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #f1f1f1;
	color: #707070;
	transition: .3s;
	margin: 0 5px;
}

.social-icon a:hover {
	background: linear-gradient(to right, #fa2456, #fd735a, #fa2456, #fd735a);
	color: #ffffff;
}